In [1]:
from obj import *
from parepy_toolbox import *

In [2]:
# ============================================================
# 1. Definição dos parâmetros probabilísticos no mesmo formato
# ============================================================

z = {'type': 'normal', 'parameters': {'mean': 100.0, 'std': 0.04 * 100.0}}      # Módulo resistente (4% variação)
fy = {'type': 'lognormal', 'parameters': {'mean': 40.0, 'std': 0.10 * 40.0}}    # Resistência do aço (10% variação)
M_d  = {'type': 'gumbel max', 'parameters': {'mean': 2000.0, 'std': 0.10 * 2000.0}} # Momento solicitante extremo (10%)

vars = [z, fy, M_d]

In [3]:
n_samples = 1000000
n_g = 1
args = None

In [4]:
df, pf, beta = sampling_algorithm_structural_analysis(of_conf, vars, 'lhs', n_samples, n_g, parallel=True, verbose=False, args=args)

In [5]:
print(f"Probabilidade de falha estimada: {pf}")
print(f"Fator de segurança confiável (beta): {beta}")

Probabilidade de falha estimada:       pf_0
0  0.00003
Fator de segurança confiável (beta):      beta_0
0  4.012811

In [6]:
df.head()

          X_0        X_1          X_2          G_0  I_0
0   99.353048  36.307581  1902.084594  1705.184266  0.0
1   96.882850  38.861262  2066.362278  1698.627562  0.0
2  100.025789  45.131671  2124.763313  2389.567719  0.0
3   97.478009  37.179457  1923.753724  1700.425771  0.0
4   89.085474  38.648562  2259.874389  1183.151110  0.0